body,html,p,h1,h2,h3,a{
    padding:0px;
    margin:0px;
}
body{
    width:100vw;
    height: 100vh;
}
a{
    text-decoration: none;
}

@font-face {
    font-family: 'asap';
    src:url('../src/Asap/Asap-VariableFont_wght.ttf');
   }
   @font-face {
       font-family: 'indie';
       src:url('../src/Indie_Flower/IndieFlower-Regular.ttf');
      }
@font-face {
    font-family: 'texturina';
    src:url('../src/Texturina/Texturina-VariableFont_opsz,wght.ttf');
   }
:root{
    /* variables craeted for diefferent properties */
    --black-color:rgb(0,0,0);
    --bw-1-color:rgb(50,50,50);
    --bw-2-color:rgb(85,85,85);
    --bw-3-color:rgb(120,120,120);
    --bw-4-color:rgb(150,150,150);
    --bw-5-color:rgb(200,200,200);
    --white-color:rgb(250,250,250);
    --queue-color: rgb(56, 151, 56);
    --play-status-bar-color:rgb(40, 169, 40);
    --volume-status-normal-color:rgba(57, 197, 23, 0.823);
    --volume-status-high-color:rgba(223, 50, 50, 0.823);
    --play-button:linear-gradient(45deg,rgb(255, 0, 200),rgb(255, 94, 0));
    --page-color:linear-gradient(45deg,rgb(6, 28, 56),rgba(3, 3, 46, 0.808));
    --notification-color:rgb(158, 9, 9);
    --player-background:linear-gradient(90deg,rgb(26, 23, 23),rgb(22, 22, 22));
    --player-icon-color:rgb(158, 158, 158);
    /* font sizes variables will be used in defferent text.  */
    --font-size-s:.75em;
    --font-size:1.2rem;
    --font-size-m:1.5rem;
    --font-size-l:2rem;
    --font-size-xl:3rem;
    --font-size-artist:.9em

    /* font weights for different fonts */
    --thin-font:100;
    --bold-font:900;

    /* i used three font families that are here for different texts in projects */
    --font-family-1:asap; 
    --font-family-2:indie; 
    --font-family-3:texturina; 
    --display-1:none;
}
body{
    background: var(--page-color);
}
/* -------------##########-----------comman classes ---------###########-------------------------- */
 
.d-flex-row{
    display: flex;
    flex-wrap: wrap;
}
.d-flex-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.text-head{
    font-family:var(--font-family-3);    
    font-size:var(--font-size-m);   
    text-transform: capitalize;
}
.name-text{
    font-family:var(--font-family-2);    
    font-size:var(--font-size-m);
    text-transform: capitalize;
}
.text{
    font-family:var(--font-family-1);    
}
.bold{
    font-weight:var(--bold-font);
}
.thin{
    font-weight:var(--thin-font);
}
.v-center{
    align-items: center;
}

.round{
    border-radius: 50%;
}
.white{
    color:var(--white-color);
}
.m-1{
    margin:10px;
}
.name-date>p:nth-child(1){
    font-family:var(--font-family-1);    
    /* font-size:var(--font-size-m);  */
    font-weight: var(--bold-font);
    /* padding:3px; */
    text-transform: capitalize;
}
.name-date>p:nth-child(2){
    font-family:var(--font-family-3); 
    text-transform: capitalize;

    /* font-size:var(--font-size-m);  */
    /* font-weight: var(--bold-font); */
}

/* -------------- page header--------------  */
header{
    width: 90vw;
    margin:auto;
    justify-content: space-evenly;
}
header>div{
    box-sizing: border-box;
    margin:2% 0px;
    /* background-color: black; */

}
header img{
    width:100%;
    height:auto;
}
.logo-container{
    width:15%;
}
#logo{
    transform: rotate(180deg);
    padding-left: 10px;
    width:40%; 
    min-width:70px ;   
}
#player-name{
    box-sizing: border-box;
    width: 40%;
}


.favorite-container{
    width:34%;
    padding:3%;
    padding-left: 5%;
}

.search-container{
    width: 27%;
    justify-content: center;  
}

.search-container img{
    width:25px;
    height:25px;
    margin:auto;
    margin-top:8px;
}
#search-icon,#mic{
    height: 40px;
    width: 15%;
    background-color:rgb(78, 77, 146);
    text-align: center;
    border-radius: 25%;
    
}
input{
    background-color: rgb(78, 77, 146);
    height: 40px;
    width: 76%;
    border-color: transparent;
    margin: 0px -3%;
}

.bell-container{
    width:12%;
    padding-left: 5%;
}
#bell{
    width:70%;
    min-width:50px;
    height:auto;
}
#count{
    height:100%;
    width:20%;
    border-radius: 50%;
    text-align: center;
    color: var(--notification-color);
    font-weight: var(--bold-font);
    font-size: var(--font-size-s);
    background-color:var(--bw-4-color);
    position:relative;
    bottom: 35px;
    left:40%;

}
.acount-container{
    width:7%;
    padding:10px;
    min-width: 60px;
    padding:1%;
    align-items: center;
}
#profile-pic{
    /* min-width:90px;
    min-height: 90px; */
    /* background-color: black; */
}
#acount-name{
    font-family: var(--font-family-2);
    font-weight: var(--bold-font);
    font-size: var(--font-size-m);
}
/* -------#########------- main---------###########---------- */

main{
    width: 85%;
    margin:auto;
    justify-content: space-evenly;
    /* background-color: black; */
}

.popup-field{
    position: absolute;
    background-color: var(--bw-5-color);
    color: var(--bw-1-color);
    padding:20px 0px;
    width:170px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.192);
    transition: all .5sec;
}
.popup-field img{
    height: 15px;
    width:auto;
    margin: 0px 10px;
}
.popup-field span{
    display: inline-block;
    width:120px;
    height: 20px;
    vertical-align: top;
    border:2px solid var(--bw-2-color);
    border-width: 0px 0px 2px 0px ;  
    margin-bottom: 10px;  
}
/* -------------##########-----------main-content---------###########-------------------------- */
#main-content{
    width:70%;
    /* background-color: blue; */
}
#main-content>section{
    width:100%;
    margin-top: 40px;
    /* background-color: purple; */
}
section>h2{
    margin: 0px 0px 20px 1.5%;
}
.image-container img{
    width:auto;
    height: 100%; 
    opacity: 1; 
    transition: all .5s;  
}
/* --------------section 1 slid show---------- */
#slide-show{
    margin-top:50px;
    justify-content: space-evenly;  
}

.playlist{
    width:31%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .5s;
    background-blend-mode:lighten;
    background-color:rgba(211, 205, 205, 0.144);
}
.playlist-1{background-image: url("../images/playlist-1.jpg");}
.playlist-2{background-image: url("../images/playlist-4.jpg");}
.playlist-3{
    background-image: url("../images/playlist-5.jpg");
}
.playlist:hover{
    background-blend-mode:multiply;
    transform: scale(1.1);
    opacity: 1;
}



/* -----------------latest release or latest-release-container-------- */
#latest-release-container{
    justify-content: space-between;
    align-items: center;
    padding:1%;
}
#latest-release-container>div{
    width:48%;
    justify-content: space-between;
    margin-bottom: 5px;
}
#latest-release-container .name-date{
    align-self: center;
    width:50%
}

#latest-release-container .image-container{
    box-sizing: border-box;
    height: 80px;
    width:30%;
    margin:1%;
    background:no-repeat left/contain url("../images/play-button.png");
}
#latest-release-container .image-container img:hover{
    opacity: .5;
}
#latest-menu{
    min-width:35px;
    position: relative;
}
.dot-container{
   width:30px;
   margin: 0px 0px 10px 0px;

}
.dots{
    display: inline-block;
    width:5px;
    height: 5px;
    border-radius: 50%;
    margin: 2px;
    background-color: var(--bw-5-color);
}
#popup-song-1,#popup-song-2,#popup-song-3,#popup-song-4{
    display:var(--display-1);
    
}
.popup-latest{
    bottom:50px;
    left:-50px;

}
 /* pop clicked here to show it */
#popup-song-1:target{
    display: block;
    z-index: 10;
}
#popup-song-2:target{
    display: block;
    z-index: 10;
}
#popup-song-3:target{
    display: block;
    z-index: 10;
}
#popup-song-4:target{
    display: block;
    z-index: 10;
}

 /* to close the popup */
#popup-song-close{
    width:15px;
    height:15px;
    background-image: url(../images/add.png);
    background-size: contain;
    transform: rotate(45deg);
    position: absolute;
    top:2px;
    left:5px;
    border-radius: 50%;
    transition: all .5s;
}

#popup-song-close:hover{
    background-color: red;
}

/* ------------------popular artists section -------------------- */
#all-artists{
    justify-content: space-around;
    font-size: var(--font-size-artist);
    font-weight: var(--bold-font);
}
.artist-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.artist-container img{
    border-radius: 50%;
}
.artist-container>div:nth-child(1){
    height:9vw;
}

/* ----------------section 4 playlist 2------------------- */
#container-4{
    justify-content: center;
}
#container-4>div{
    height:9vw;
    width:33%;
    min-width: 150px;
    min-height: 80px;
}
.pl-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pl-img{
    background-size: 150%;
    background-position: center;
    width:95%;
    height: 100%;
    transition: all 1s;
    /* background-color: blue; */
    margin: 10px; 
}
#pl-img-1{
    background-image: url(../images/playlist-10.jpg);
}
#pl-img-2{
    background-image: url(../images/playlist-9.jpg);
}
#pl-img-3{
    background-image: url(../images/playlist-8.jpg);
}
.pl-img:hover{
    background-size: 120%;
    background-color: rgba(0, 0, 0, 0.712);
    background-blend-mode:darken;  
}
/* ----------------all latest-song sections------------ */
.latest-song .image-container{
    height:8.5vw;
    margin-bottom: 10px;
}
.latest-song{
    justify-content: space-evenly;
    font-size: var(--font-size-s);
}

/*----------- queue container ------- */
#home-queue{
    padding-top:40px;
    width:28%;
    /* background-color: red; */
}
#queue-popup-container{
    position: relative;
    left:70%;
    bottom:.5%;
    display: flex;
}
#dropdown-icon{
    transform: rotate(180deg);
    color:var(--queue-color);
    font-weight: var(--bold-font);
}



#queue-popup-container>h3{
    font-family: var(--font-family-1);
    color:var(--queue-color);
    font-weight: 100;
    margin-right: 10px;
}
.queue-song-container{
    margin-top: 50px;

}
.home-queue-card{
    margin:auto;
    width: 95%;
    height:5vw;
    /* background-color: black; */
    justify-content: space-between;
    align-items: center;

}
#queue-count{
    width:10%;
    opacity:1;
    height: 2vw;
    
    /* background-color: tan; */
}
.home-queue-card:hover #queue-count{
    background: no-repeat center/contain url(../images/play-indicator.gif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 2vw;
}
.home-queue-card:hover #queue-count>p{
    display: none;
}

#add-to-fab{
    background-image:url(../images/heart.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 35%;
    height: 50%;
    /* background-color: purple; */
    
}
#image-container{
    height:4vw;
    width:20%;
    /* background-color: red; */
}

.popup-queue{
    top:30px;  
    display: none;
}
#queue-popup-container:active .popup-queue{
    display: block;
    color:var(--volume-status-high-color);
}


.name-writer{
    width: 25%;
    /* min-width: 100px; */
    /* background-color: aqua; */
}

/*----------------------- footer   ------------------- */
#player{
    width:100%;
    height:5vw;
    min-height: 50px;
    background: var(--player-background);
    justify-content: space-evenly;
    position:fixed;
    bottom:0px;
    padding:.5vw;
    /* display: none; */
}
#song-detail-player,#other-control{
    width:25%;
    height: 100%;
    /* background-color: red; */
    justify-content: space-evenly;
    align-items: center;
}
#song-detail-player>*{
    box-sizing: border-box;
}
#player-image{
    height:80%;
    width:20%
}
#player-text{
    width:30%;
    height: 40%;
    overflow:hidden;
    text-overflow: ellipsis;
    font-size: var(--font-size-s);
    font-family:'Courier New', Courier, monospace;
}
.player-icon-1{
    stroke:var(--player-icon-color);
    min-width:30px;
    height:26px;
    fill:rgb(236, 7, 7);
    fill-opacity: 0;
    width:10%;
    padding:2px;
    /* background-color: green; */
    transform: scale(1);
}
#heart-player{
    stroke-width: 1.9;   
}
.player-icon-1:active{
    fill-opacity: 1;
}
#heart-player:active{
    fill-opacity: .5;
    fill:green;
}
#block-player{
    stroke-width:0.69999999;
    stroke-dasharray:none;
    stroke-opacity:1    
}
/* song detail - player */
#song-option-player{
    width:35%;
    /* background-color: blue; */
}
#song-option-player>div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:auto;
    /* background-color: red; */
}
#player-control{
    width:75%;
    height:60%;
}
.time-status-player{
    font-family: var(--font-family-1);
}
.player-icon-2{
    stroke:var(--player-icon-color);
    width:25px;
    height:20px;
    fill:rgb(236, 7, 7);
    fill-opacity: 0;
    transform: scale(.7);
}
.player-icon-2:hover,.player-icon-1:hover{
    stroke: blue;
}
#random-player{
    stroke-width: .5;
}
#backward-player{
    /* background-color: red; */
    transform: rotate(180deg);
}

/* play pause functionality */
#play-pause-player{
    width:50px;
    height: 50px;
    stroke-width: .7;
}
#pause-player{
    stroke-width: 1.6;
    display: none;
}
#play-player{
    stroke-width: 3;
    display: block;
}
#play-pause-player:active #pause-player{
    display:block;
}
#play-pause-player:active #play-player{
    display:none;
}
#song-status{
    width:70%;
    background-color: black;
}

/* section 3 in player */
#playlist-player{
    /* background-color: red; */
    stroke-width: .8;
}
#device-player{
    /* background-color: red; */
    stroke-width: .5;
}
#volume-player{
    /* background-color: red; */
    stroke-width: .5;
}
#volume-status{
    width:30%;
}
.slider{
    height:5px;
    background-color:green;
    border-radius: 2px 2px 2px 2px;
    min-width:50px;
    transition: all 1s;
}
.slide-button{
    position:relative;
    bottom:80%;
    width: 15px;
    height: 15px;
    left:0px;
    border-radius: 50%;
    background-color: var(--bw-3-color);
    transition: all 1s;
}
.change-color{
    position: relative;
    bottom: 300%;
    left:0px;
    height:6px;
    width:0px;
    background-color:red;
    border-radius: 2px;
    transition: all 1s;
}
.slider:hover .slide-button{
    left:100%;
}
.slider:hover .change-color{
    width:100%;
}
#expand-compress-player{
    stroke-width: .5;
}
.compress-player{ 
    display: none;
}
#expand-compress-player:hover .expand-player{
    display: none;
}
#expand-compress-player:hover .compress-player{
    display: block;
}