/* variables used in the css. */
:root{
	--section-color-1: rgb(204, 204, 204);
	--section-color-2: rgb(255, 249, 249);
	--text-color: rgb(80, 69, 69); /*normal text*/
	--text-color-1: rgb(255, 255, 255); /*nav bar color*/
	--text-color-2: rgb(40, 13, 139); /*heading of sections */
	--text-color-3: rgb(255, 255, 255);/* page heading*/
	--font-size:1rem;  /* normal text*/
	--font-size-1:1.2rem;  /* nav taxt*/
	--font-size-2:2rem;  /* font size for section heading*/
	--font-family:Georgia;
	--font-family-1:'Times New Roman';
	
	/* skill color variable */
	--text-color-4: rgb(28, 206, 197);
	--skill-progress-background: rgb(36, 36, 43);
	
	--skill-progress-color-1: rgb(99, 27, 27);
	--skill-progress-color-2: rgb(99, 98, 27);
	--skill-progress-color-3: rgb(18, 70, 16);
	--skill-progress-color-4: rgb(43, 27, 99);
	--skill-progress-color-5: rgb(77, 22, 54);
	--skill-progress-color-6: rgb(27, 99, 95);
	--skill-progress-color-7: rgb(99, 94, 27);
	--skill-progress-color-8: rgb(99, 27, 83);
	--skill-progress-1:0%;
	--skill-progress-2:0%;
	--skill-progress-3:0%;
	--skill-progress-4:0%;
	--skill-progress-5:0%;
	--skill-progress-6:0%;
	--skill-progress-7:0%;
	--skill-progress-8:0%;
	
	/* portfolio */
	--portfolio-visibility:hidden;
	--text-color-5: rgb(255, 255, 255);/* hidden widget heading*/
	--font-size-4:1.5rem;  /* nav taxt*/
}

h2, h3,ul,li,html,body,p,form,input,label{
	margin:0px;
	padding: 0px;
	/* background-color: red; */
}
li{
	list-style: none;
}
a{text-decoration: none;}

/* common classes among multiple elements */
.text{
	font-size: var(--font-size);
	color:var(--text-color);
	font-family: var(--font-family-1);
}
.head2{
	font-size:var(--font-size-2);
	font-family: var(--font-family-1);
	color:var(--text-color-2);
	font-weight: 700;
	margin-bottom:30px;
}
.head-image{
	width: 2.5rem;
	height: 2.5rem;
	vertical-align:baseline;
}

/*   header    */
#hamburger-icon{
	display: none;
}
.menu,#social-media-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
.menu li{
	margin:10px;
}
.menu a{
	color: white;
	font-size: var(--font-size-1);
	color:var(--text-color-1);
	transition: all .5s;
	}
.background-image{
	background-image: url("asset/background-zaksheuskaya.jpg"),radial-gradient(red,blue);
	background-attachment: fixed;
	background-size: cover;
	margin-top: -30px;
	padding-bottom: 100px;
	background-blend-mode:multiply;

}
.menu{
	padding-top: 50px;
}
#name{
	font-size: 3rem;
	text-align: center;
	padding-top:40px;
	color:var(--text-color-3);
}
#social-media-container{
	/* background-color: black; */
	text-align: center;
	margin-bottom: 20px;
	/* margin:10px 10px 20px 10px; */

}
#social-media-container img{
	padding: 5px;
	width:1.5rem;
	height: 1.5rem;
	transition: all .5s;
	transition-timing-function: ease-out;
	margin:0px 5px;
}
.menu a:hover{
	box-shadow: 3px 3px 4px rgb(196, 180, 180); 
	background-color: rgba(242, 20, 20, 0.5);
	/* text-decoration: underline; */
	border-radius: 2% 2% 10% 2%;
}
#social-media-container img:hover{
	/* box-shadow: 0px 3px 5px 10px rgba(200,200,200,.5);  */
	background-color: rgba(200,200,200,.5);
	border-radius: 50%;
}
/* ====== main ========= */

main, main>section{
	width:98%;
	margin:auto;
	display: flex;
	flex-direction: column;
	align-items: center;

}
section{
	width:100%;
	padding:50px 0px;
	border-radius: 20px;
}
section:nth-child(2n){
	/* background-color:hotpink; */
	background-color:var(--section-color-1);
}
section:nth-child(2n+1){
	/* background-color:hotpink; */
	background-color:var(--section-color-2);
}
/* **** about  **** */
#about{
	width: 70%;
	padding-bottom: 50px;
	
}
#profile-pic{
	position: relative;
	top:-150px;
	width:200px;
	border: 2px solid white;
	border-radius: 50%;
	box-shadow: 0px -5px 25px 5px white;
}
#about p{
	color: rgb(66, 64, 64);
	text-align: justify;
	margin-top: -30px;
	width:100%;

}

.skill-content{
	padding:50px 0px;
	width:100%;
	display: flex;
	flex-wrap:wrap;
	flex-direction: row;
	justify-content: center;
	align-content: centre;
}
.skill-content>div{
	box-sizing: border-box;
	border-radius: 20px;
	margin:2vh 3vw;
	width:200px;
	height:35px;
	/* columns: white; */
	background-color:var(--skill-progress-background);
}
.skill-content div p{
text-transform:capitalize;
color:var(--text-color-4);
margin-left: 20px;
padding-top:6px;
font-size:1.2rem;
}

.progress{
	height:100%;
	border-radius: 17px 0px 0px 17px;
	transition: all;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

.fill-color1{
	width:var(--skill-progress-1);
	background-color:var(--skill-progress-color-1);
}
.fill-color2{
	width:var(--skill-progress-2);
	background-color:var(--skill-progress-color-2)
}
.fill-color3{
	width:var(--skill-progress-3);
	background-color:var(--skill-progress-color-3);
}
.fill-color4{
	width:var(--skill-progress-4);
	background-color:var(--skill-progress-color-4);
}
.fill-color5{
	width:var(--skill-progress-5);
	background-color:var(--skill-progress-color-5);
}
.fill-color6{
	width:var(--skill-progress-6);
	background-color:var(--skill-progress-color-6);
}
.fill-color7{
	width:var(--skill-progress-7);
	background-color:var(--skill-progress-color-7);
}
.fill-color8{
	width:var(--skill-progress-8);
	background-color:var(--skill-progress-color-8);
}
.skill-content:hover{
	--text-color-4:white;
	--skill-progress-background: rgb(180, 161, 161);
	--skill-progress-1:80%;
	--skill-progress-2:90%;
	--skill-progress-3:50%;
	--skill-progress-4:10%;
	--skill-progress-5:90%;
	--skill-progress-6:20%;
	--skill-progress-7:60%;
	--skill-progress-8:80%;
}

/* portfolio */
.portfolio-widgets{
	display: inherit;
	flex-wrap: wrap;
	justify-content: center;
}
#widget-container>a{
	box-sizing: border-box;
	width:27vw;
	margin:2vh 2vw;
	height:15vw;
	min-width: 270px;
	min-height: 150px;
	transition:all;
	transition-duration: .5s;
	border-radius: 5px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding:20px;
}
.portfolio-widgets p{
	background-color: rgba(59, 63, 121, 0.671);
	color: var(--text-color-5);
	text-align: center;
	border-radius: 5px;
	font-size: var(--font-size-4);
	visibility: var(--portfolio-visibility);
	transition: all .2s .5s;
}
.portfolio-widgets>a:hover{
	--portfolio-visibility:visible;
	box-shadow: 0px 0px 5px 2px rgb(96, 146, 240);
}
#widget1{
	background-image: url(asset/project1.png);
}
#widget2{
	background-image: url(asset/project2.png);
}
#widget3{
	background-image: url(asset/project3.png);
}
#widget4{
	background-image: url(asset/project4.png);
}
#widget5{
	background-image: url(asset/project5.png),url(asset/calculator-cover.png);
}
#widget6{
	background-image: url(asset/project6.png);
}

/*********   work experiance   ***********/

#exp-container{
	width:80%;
	margin:auto;
	position: relative;
}
#exp-container>.text1{
	width:40%;
	max-width:350px;
	min-width:205px;
	position: relative;
	text-align: justify;
}
#exp-container>div:nth-child(2n){
	left:55%;
}
#exp-container>.text1:nth-child(2n):before{
	content:"";
	position:absolute;
	/* z-index: 1; */
	border-radius: 50%;
	width:20px;
	height:20px;
	left:-6vw;
	background-color: #5c0246;

}
#exp-container>.text1:nth-child(2n+1):before{
	content:"";
	position:absolute;
	border-radius: 50%;
	width:20px;
	height:20px;
	left:35.7vw;
	background-color: #5c0246;

}
.text1>h3{
	font-size: 1.6rem;
	color:rgb(14, 14, 89)
}
.text1>h3+p{
	color:#a42858;
	font-weight: 700;
}
.text1>:nth-child(3){
	color:rgba(0, 0, 0, 0.577);
	font-family: monospace;
}

#timeline{
	position: absolute;
	height: 80%;
	width: 0px;
	border:2px dashed black;  
	left:48%;
	top:0%;
}

#timeline>div{
	background-image: url(asset/airplane.png);
	background-size: contain;
	margin-left:-1.5rem;
	padding:0px;
	width:3rem;
	height: 3rem;
	position: sticky;
	top:50px;
	transform: rotate(180deg);
}

/*********   education   ***********/


/* **************contact*************** */
#contact{
	background-image:linear-gradient(#2857a4,#403066);
}
.color-white{
	color:white;
}
.inline{
	display: inline;
}
#contact-header{
	margin:auto;
	text-align: center;
	color: white;
	margin-bottom: 50px;
}

.address-icon{
	width: 2rem;
	height: 2rem;
	vertical-align:middle;
	margin-right:10px;
}
#contact-container{
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	width:90%;
	margin:auto;
	/* background-color: red; */
}
#contact-container>div,form{
	box-sizing: border-box;
	width:46%;
	min-width: 300px;
}
#form{
	margin-top:50px;
}
#form>*{
	display: flex;
	flex-direction: column;
	/* justify-content:space-around; */
}
#form>input,textarea{
	background-color: transparent;
	color: white;
	font-size: 1.2rem;
	border-width: 0px 0px 2px 0px;
	border-color: rgba(255, 255, 255, 0.664);
	margin-bottom: 30px;
	width: 80%;
}
#message{
	vertical-align: middle;
}
#submit{
	display:block;
	padding: 5px 10px;
	width:55%;
	box-sizing: border-box;
	margin:auto;

	margin:40px 13%;
	text-transform: uppercase;
	background-color: transparent;
	color: white;
	font-size: 1.2rem;
	/* align-self: center; */
}
#info{
	margin-top: 30px;
}
#info>h3{
	margin: 20px 0px;
	font-size: 1.5rem;
}
#address>div{
	margin-bottom: 10px;
}
#contact>#social-media-container>li{
	margin-right:20px;
}
#contact>#social-media-container img{
	width:1.5rem;
	height: 1.5rem;
}

#menu{
	display: none;
}

@media (max-width:700px){
	#timeline{
		position: absolute;
		height: 80%;
		width: 0px;
		border:2px dashed black;  
		left:93%;
		top:0%;
	}
	#exp-container>.text1{
	width:80%;
	max-width:350px;
	min-width:205px;
	margin-bottom: 20px;
	}
	#exp-container>div:nth-child(2n){
		left:0px;
	}
	#exp-container>.text1:before{
		left:69vw !important;
	}
	#hamburger-icon{
		display:block;
		background-color: rgba(255, 255, 255, 0.255);
		width:3.2rem;
		height:3.2rem;
		position:relative;
		top:2rem;
		left:2rem;
		border-radius: 50%;
		text-align: center;
		
	}
	#hamburger-icon img{
		padding-top:1px;
		width:3rem;
		height:3rem;
		
	}
	#menu{
		display: block;
	}
	#menu{
		display: none;
		transition:all 1s ease;
		position: relative;
		top:-50px;
	}
	.hide{
		display: none;
		transition:all 1s ease;
	}
	#menu:target{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		/* justify-content: s; */
	}
	
	
	#contact-container>div,form{
		width:90%;
		margin:0% 0% 10% 10%;

	}

}