html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
  text-shadow: 0 0 1px 1px #f93d66;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  small,
  strong {
    margin: 0;
    padding: 0;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: block;
    color: rgb(207, 205, 205);
    background-image: url("../assets/topography.svg"),
      linear-gradient(110deg, #f93d66, #6d47d9);
    background-size: 340px, auto;
    /* background: white; */
    background-attachment: fixed;
    letter-spacing: -1px;
    #root {
      height: 100%;
      width: 100%;
    }
  }
}
